<!-- 
Authors: 1. Aryan Kuntal   
 -->

<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <title>Upload Data Files</title>
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-12">
                    <h3>Upload Data Files</h3>
                </div>
            </div>

            <div class="row">
                <h4>Select file(s) to upload</h4>
                <p>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                  <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
            </div>

            <div class="row">
                <form method="POST" action="/upload_files" enctype="multipart/form-data">
                    
                    <dl>
                        <p>
                            <input type="file" name="files" multiple="true" autocomplete="off" required>
                        </p>
                    </dl>

                    <p>
                        <input type="submit" value="Submit" name="files_submit" id="files_submit">
                    </p>
                </form>
            </div>

        </div>
        
    </body>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/dcodeIO/protobuf.js/6.8.8/dist/protobuf.min.js"></script>
    <script type="text/javascript">
    //     document.getElementById("files_submit").onclick = function () {
    //     location.href = "/optimization";
    // };
       
    </script>
</html>

